.bg-white-300 {
  background: rgba(255, 255, 255, 0.3) !important;
}

.rounded-bottom-left {
  border-radius: 0;
  border-bottom-left-radius: .25rem!important;
}

.rounded-bottom-right {
  border-radius: 0;
  border-bottom-right-radius: .25rem!important;
}

.btn:hover, .btn-primary:hover, .w-100:hover {
  background: rgba(25,135,84,0.68);
  border-radius: 10px;
}

.hover-1-description.font-weight-light {
}

.hover-1-description.font-weight-light.mb-020 {
  color: #ffffff;
  font-style: normal;
}

